.header {
  margin: 0;
  background-color: #0077ff;
  color: #fff;
  height: 60px;
  border-radius: 0px 0px 10px 10px;

  h3 {
    padding-left: 20px;
    padding-top: 15px;
    cursor: pointer;
  }
}
