.header {
  margin: 0;
  background-color: #0077ff;
  height: 60px;
  border-radius: 0px 0px 10px 10px;

  h3 {
    padding-left: 40px;
    padding-top: 15px;
    cursor: pointer;
  }

  a {
    color: #fff;

    &:active {
      color: darken($color: #fff, $amount: 7);
    }
  }
}
