.user_page {
  margin-top: 20px;

  .user_comments {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #dce1e6;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    .comments_counter {
      margin-bottom: 20px;
    }

    .write_comment {
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        textarea {
          max-width: 300px;
          min-width: 300px;
          min-height: 50px;
          max-height: 110px;
          padding: 10px;
          font-size: 16px;
          border-radius: 5px;
          font-family: arial;
        }

        button {
          height: 40px;
          font-size: 16px;
        }
      }

      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .user_info {
    display: flex;
    gap: 40px;

    .profile_photo {
      border-radius: 10px;
    }

    .user_name {
      border-radius: 10px;
      border: 1px solid #dce1e6;
      background-color: #fff;
      width: 100vw;
      padding-left: 30px;
      height: 500px;

      h3 {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .another_users {
        margin-top: 80px;

        .users_cards {
          margin-top: 30px;
          display: flex;
          gap: 15px;
          overflow: hidden;

          button {
            height: 70px;
            margin-top: 80px;
            width: 35px;
            font-size: 25px;

            &:disabled {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
