* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: #edeef0;
  height: 100vh;
  overflow: auto;
  padding: 0px 150px;

  @media (max-width: 800px) {
    padding: 0px 50px;
  }
}

button {
  background: #0077ff;
  color: #fff;
  border: none;
  cursor: pointer;

  &:active {
    background-color: darken($color: #0077ff, $amount: 5);
  }

  &:disabled {
    opacity: 0.5;
  }
}

input,
button {
  border-radius: 5px;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}
